/* variables declared here - these are the colors for the component, as well as the font stacks and sizes. */
:root {
  --white: #fff;
  --gray-900: #141414;
  --gray-800: #1f1f1f;
  --gray-700: #333;
  --green: #c4f82a;

  --inter: "Inter", serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-large: 1.5rem;
  --font-size-regular: 1rem;
  --font-size-small: 0.875rem;
}

/* resets */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styling */

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--Inter);
  font-size: var(--font-size-regular);
  line-height: 1.5;
  letter-spacing: 0px;
  background-color: var(--gray-900);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-card {
  width: 304px;
  background-color: var(--gray-800);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.developer-details-wrapper {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

.developer-headshot-img {
  display: block;
  width: 88px;
  /* height: 88px; */
  border-radius: 50%;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
